.venv/
__pycache__/
*.pyc

.env
*.env
.streamlit/secrets.toml

airflow/logs/
airflow/.env
airflow/__pycache__/

ai/review_embeddings.parquet
*.parquet

zomato/target/
zomato/dbt_packages/
zomato/logs/
zomato/profiles.yml

data/*.csv
data/cred

*.log
.DS_Store